<div class="p-4 mb-3 bg-body-tertiary rounded">
    <h4 class="fst-italic">About</h4>
    <p class="mb-0">Olá! Eu sou Locke Lamora, e este é o espaço onde compartilho minhas aventuras e descobertas no incrível universo de Minecraft. Entre construções criativas, explorações misteriosas e batalhas épicas, cada sessão se transforma em uma nova história. Acompanhe meu blog para explorar comigo, descobrir dicas e se inspirar em tudo o que este jogo incrível tem a oferecer. Sinta-se a vontade para publicar seus próprios relatos. Bem-vindo à jornada!</p>
</div>