<% content_for :title, "Categorias" %>

<h1>Categorias</h1>

<p>
  <%= link_to 'Nova categoria', new_category_path, 
  class:"btn btn-outline-primary" if policy(:category).new? %>
</p>

<table class= "table table-striped table-hover table-bordered">
  
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

<tbody>
  <% @categories.each do |category| %>
  <tr>
    <td><%= render category %></td>
    <td>
      <%= link_to "Editar", edit_category_path(category) if policy(category).edit? %>
      <%= link_to "Excluir", category, 
      method: :delete, data: {confirm: "Você tem certeza?"} if policy(category).destroy? %>
    <td>
  <% end %>
</div>
</tbody>
</table>
